.list-view-container {
  height: 640px;
  width: 100%;
  /* background-color: rgb(202, 230, 255); */
}

.list-view-container .header{
  background-color: blueviolet;
  height: 20%;
}

.list-view-container .header .heading{
  padding: 4% 0;
  text-align: center;
  color: white
}

.button-container {
  padding-left: 3%;
}

.button-container .toggle-style {
  margin: 3%;
}

.button-container .search-style {
  margin-left: 40%;
  margin-top: 10%;
}

.table-style{
  margin-left: 10%;
  margin-right: 10%;
  background-color: aliceblue;
}

.button-style{
  float: right;
}
